// Place all the styles related to the api/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contacts-container {
    height: 100%;
}

.contacts-header {
    display: flex;
    align-items: center;
    background-color: #f7f6f6;
    height: 56px;
}

.contacts-header span {
    font-size: 25px;
    font-weight: 300;
    color: #55636b;
}

.fa-user-circle {
    font-size: 36px;
    color: #D3D3D3;
    margin: 10px 10px;
}