// Place all the styles related to the api/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contacts-container {
    height: 100%;
}

.contacts-header {
    display: flex;
    align-items: center;
    background-color: #f7f6f6;
    height: 56px;
    justify-content: space-between;
}

.contact-form input::placeholder {
    color: #adadad;
}

.contact-form input[type=text] {
    padding: 6px;
    margin: 0 10px;
    width: 130px;
    border-bottom: 1px solid #adadad;
    color: #404040;
    font-size: 16px;
    text-align: center;
}

// .contact-form input[type=text]:focus {
//     content: '';
//     position: absolute;
//     width: 0%;
//     height: 2px;
//     background: linear-gradient(120deg, #1ebea5, #2ed573, #7bed9f);
//     transition: .5s;
// }

.contact-form {
    margin: 0 10px;
}

.contact-form input[type=submit] {
    border: 1px solid #1ebea5;
    border-radius: 3px;
    color: #1ebea5;
    padding: 7px 7px;
    opacity: 0.8;
}

.contact-form input[type=submit]:hover {
    opacity: 1;
}

.contacts-header span {
    font-size: 25px;
    font-weight: 300;
    color: #55636b;
}

.fa-user-circle {
    font-size: 32px;
    color: #D3D3D3;
    margin: 10px 10px;
}