.chatbox-container {
    width: 70%;
    border-left: 1px solid rgb(225, 220, 220);
    padding: 0;
}

.chatbox-header {
    display: flex;
    align-items: center;
    background-color: #f7f6f6;
    height: 56px;
}

.chatbox-header span {
    font-size: 25px;
    font-weight: 300;
    color: #55636b;
    margin: 0 20px;
}