.contacts-container {
    height: 100%;
}

.contacts-header {
    display: flex;
    align-items: center;
    background-color: #f7f6f6;
    height: 56px;
}

.contacts-header span {
    font-size: 25px;
    font-weight: 300;
    color: #55636b;
}



.fa-user-circle {
    font-size: 36px;
    color: #D3D3D3;
    margin: 10px 10px;
}