.dashboard-container {
    margin-top: 268px;
    width: 85%;
    height: 730px;
    background: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px 20px;
    -webkit-box-shadow: 0 0 20px #919191;
    box-shadow: 0 0 22px #919191;
    border-radius: 3px;
    display: flex;
    flex: wrap;
}