@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.login-box {
    margin-top: 235px;
    width: 550px;
    height: 600px;
    background: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px 20px;
    -webkit-box-shadow: 0 0 20px #919191;
    box-shadow: 0 0 22px #919191;
    border-radius: 3px;
}

.login-form-box {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-box {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.text-box input {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.text-box span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.text-box span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    transition: .5s;
}

.focus + span::before {
    top: -5px;
}

.focus + span::after {
    width: 100%;
}

.session-submit {
    display: flex;
    justify-content: center;
}

.submit-btn {
    text-transform: capitalize;
    padding: 0;
    color: white;
    font-weight: 300;
    display: flex;
    width: 100px;
    height: 50px;
    border: none;
    background: #1ebea5;
    justify-content: center;
    border-radius: 3px;
}

.login-form-box h1 {
    text-transform: capitalize;
    text-align: center;
    color: #55636b;
    float: center;
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 70px;
    padding: 13px 13px;
}

.errors {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    color: #D8000C;
    background-color: #FFD2D2;
}

.errors li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.errors li:first-child {
    padding-top: 10px;
}
.errors li:last-child {
    padding-bottom: 10px ;
}