html {
    position: relative;
    height: 100%; 
}

body {
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    background-color: rgb(232, 231, 231);
}