html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    // background: transparent;  /* Optional: just make scrollbar invisible */
}

.main-container {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.header-wrapper {
    // background: #1ebea5;
    background-image: linear-gradient(120deg, #1ebea5, #2ed573, #7bed9f,);
    height: 220px;
}

.content-container {
    width: 100%;
    position: absolute;
    background-color: rgb(232, 232, 232);
}

// .submit-button {
//     display: inline;
//     text-align: center;
// }