.main-nav {
    margin: 0 auto 28px;
    margin-bottom: 66px;
    width: 80%;
    align-items: center;
    display:flex;
    flex: none;
    justify-content: space-between;
    min-height: 39px;
    padding-top: 18px;
}

.nav-left > ul,
.nav-right > ul {
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10px 10px;
}


.btnl:hover {
    border: 1px solid white;
    border-color: currentColor;
}

.nav-btn {
    font-size: 16px;
    font-weight: 450;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.logo {
    text-transform: uppercase;
    margin: 10px 10px;
}

.logo:hover {
    text-decoration: none;
    
}

.logo-img {
    width: 38px;
    margin-left: 10px;
}

p.nav-btn {
    text-align: center;
    padding: 10px 10px;
}