// Side Navbar for profile

.sidenav {
  height: auto;
  width: 0;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav-header {
    background-color: red;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover {
//   color: #f1f1f1;
}

.sidenav .closebtn {
  position: relative;
  top: 0;
  color: red;
  right: 25px;
  font-size: 36px;
}

#open-btn {
    font-size:30px;
    cursor:pointer
}

.profile-container {
    height: 100%;
    border-bottom: 1px solid rgb(225, 220, 220);
    background-color: rgb(244, 242, 242);
}

