// Side Navbar for profile

.sidenav {
  height: auto;
  width: 0;
  border-right: 1px solid rgb(225, 220, 220);
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav-header {
    background: linear-gradient(120deg, #1ebea5, #2ed573);
    height: 112px;
    display: flex;
    align-items: center;
}

// .sidenav span {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
//   transition: 0.3s;
// }

// .sidenav span:hover {
// //   color: #f1f1f1;
// }

#closebtn {
  position: relative;
  top: 0;
  color: white;
  margin: 0 20px;
  font-size: 22px;
}

#open-btn {
    font-size:30px;
    cursor:pointer
}

.profile-container {
    height: 100%;
    border-bottom: 1px solid rgb(225, 220, 220);
}


.sidenav-header span {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

