div.login-box.welcome-container {
    width: 600px;
}

div.welcome-container p {
    color: #55636b;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    color: #55636b;
    font-size: 35px;
    font-weight: 200;
}