div.login-box.welcome-container {
    width: 1200px;
    margin-top: 350px;
    height: 800px;
}

div.welcome-container p {
    color: #55636b;
    text-align: center;
    vertical-align: middle;
    // line-height: 400px;
    color: #55636b;
    font-size: 35px;
    font-weight: 200;
}

.welcome-content {
    display: flex;
    flex-direction: column;
}

.welcome-content-left {
    padding-top: 50px;
}

.welcome-content-right {
    padding-top: 30px;
    display: flex;
}

.features {
    margin: 0 50px;
    font-weight: 300;
    font-size: 35px
}

.features2 {
    margin: 50px;
    color: #313334;
    font-size: 20px;
    font-weight: 300;
}

.welcome-content-right img {
    width: 50%;
    height: auto;
}

.features3 {
    margin-top: 100px;
    margin-left: 150px;
    align-content: center;
    vertical-align: middle;
}

.features3 div {
    margin: 20px;
    padding: 20px 40px;
    border: 1px solid #0c9b86;
    border-radius: 30px;
    color: #0c9b86;
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
}

.features3 div:hover {
    cursor: pointer;
    opacity: 1;
}


